@font-face 
  font-family: 'Gilroy'
  src: url('../fonts/gilroy-extrabold/Gilroy-Extrabold.woff2') format('woff2')
  src: url('../fonts/gilroy-extrabold/Gilroy-Extrabold.woff') format('woff')
  font-weight: 800
  font-style: normal

@font-face 
  font-family: 'Gilroy'
  src: url('../fonts/gilroy-regular/Gilroy-Regular.woff2') format('woff2')
  src: url('../fonts/gilroy-regular/Gilroy-Regular.woff') format('woff')
  font-weight: 400
  font-style: normal

@font-face 
  font-family: 'Gilroy'
  src: url('../fonts/gilroy-light/Gilroy-Light.woff2') format('woff2')
  src: url('../fonts/gilroy-light/Gilroy-Light.woff') format('woff')
  font-weight: light
  font-style: normal
body
	background-color: #fff
	font-family: 'Gilroy'
	margin: 0 auto
.wrapper
	padding: 84px 4.84%
	box-sizing: border-box
.cases
	display: flex
	justify-content: center
	flex-wrap: wrap
	transition: opacity .75s ease
	> .case
		&:first-child
			> .case__head
				margin: 0px 6% 0 17%
.case
	display: flex
	flex-direction: column
	justify-content: space-between
	margin-left: 8px
	margin-right: 8px
	margin-bottom: 27px
	width: calc(33% - 32px)
	color: #fff
	transition: opacity .75s ease
	opacity: 1
	box-sizing: border-box
	padding-top: 20px
	&:hover
		opacity: 0.9
	&--theme-randevoo
		background: linear-gradient(rgba(15, 15, 105,.85)), url("../img/randevoo.png") no-repeat center center
		background-size: cover
	&--theme-car
		background: linear-gradient(rgba(15, 15, 105,.85)), url("../img/car.png") no-repeat center center
		background-size: cover
	&--theme-36_6
		background: linear-gradient(rgba(15, 15, 105,.85)), url("../img/36_6.png") no-repeat center center
		background-size: cover
	&--theme-DKC
		background: linear-gradient(rgba(15, 15, 105,.85)), url("../img/DKC.png") no-repeat center center
		background-size: cover
	&--theme-rostelekom
		background: linear-gradient(rgba(15, 15, 105,.85)), url("../img/rostelekom.png") no-repeat center center
		background-size: cover
	&--theme-bank
		background: linear-gradient(rgba(15, 15, 105,.85)), url("../img/bank.png") no-repeat center center
		background-size: cover
	&__head
		display: flex
		justify-content: space-between
		margin: 0px 3% 0px 6%
		min-height: 137px
	&__logo
		&-img
			height: 52px

	&__title
		font-size: 24px
		font-weight: 800
		line-height: 62px
		margin-bottom: 32px
		position: relative
		top: -10px
	&__status
		font-size: 16px
		line-height: 18px
		font-weight: 300
		min-height: 146px
	&__middle
		margin: 0 6% 0 17%
		min-height: 215px
	&__footer
		display: flex
		flex-direction: column
		justify-content: flex-start
		align-items: flex-start
		margin: 0 6% 0 17%
	&__description
		font-size: 18px
		line-height: 21px
		font-weight: 300
		&-quotes
			position: relative
			left: -40px
			top: -10px
			height: 0
	&__comment
		font-size: 16px
		line-height: 20px
		margin-bottom: 27px
		min-height: 59px
	&__person
		font-weight: 800
	&__person-status
		font-weight: light
	&__details
		width: 50%
		height: 40px
		margin-top: auto
		margin-bottom: 43px
.btn
	display: flex
	align-items: center
	justify-content: center
	color: #0F0F69
	font-size: 16px
	font-weight: normal
	line-height: 24px
	border-radius: 4px
	background: #fff 
	text-decoration: none
@media screen and (max-width: 1512px)
	.case
		width: calc(50% - 32px)
@media screen and (max-width: 900px)
	.wrapper
		padding: 64px 2%
	.cases
		flex-direction: column
	.case
		width: calc(100% - 30px)
		max-width: 100%
		&__details
			width: 70%
@media screen and (max-width: 340px)
	.wrapper
		padding: 32px 0
	.case
		width: 100%
		margin: 10px 0
		&__head
			flex-direction: column
			margin-bottom: 10px
		&__title
			margin-bottom: 0
		&__status
			min-height: auto
			margin-bottom: 15px
		&__description
			&-quotes
				left: -30px
