@font-face {
  font-family: "bariol_regular";
  src: url("../fonts/bariol_regular.ttf");
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

body {
  margin: 0 auto;
  max-width: 1700px; }

.wrapper {
  padding: 0 22%; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f56262;
  padding: 5px 0; }

.menu {
  font-family: Arial;
  color: #fff;
  font-size: 16px;
  font-weight: Bold;
  letter-spacing: 0.02em; }
  .menu__list {
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .menu__item {
    border-radius: 3px;
    padding: 9px 13px;
    margin-right: 15px;
    -webkit-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
    cursor: pointer; }
    .menu__item--active {
      background-color: #232324; }
    .menu__item:hover {
      background-color: #232324; }
    .menu__item a {
      color: #fff;
      text-decoration: none; }

.hamburger_button {
  display: none; }

.banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eb4f4e; }
  .banner__title {
    letter-spacing: 0.15em;
    padding: 60px 0 28px 0; }
  .banner__sub-title {
    line-height: 24px;
    letter-spacing: 0.06em; }

.title {
  font-family: bariol_regular;
  color: #fff;
  font-size: 60px;
  text-align: center; }

.sub-title {
  font-family: bariol_regular;
  color: #fff;
  font-size: 20px;
  text-align: center; }

.slider {
  max-width: 100%;
  margin-top: 33px;
  margin-bottom: 33px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .slider__prev-arrow, .slider __next-arrow {
    cursor: pointer; }
  .slider__slides {
    max-width: 80%; }

.slick-track {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }
  .slick-track .slick-slide {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: auto !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
    .slick-track .slick-slide img {
      max-width: 100%;
        max-width-height: auto; }
  .slick-track .slick-slider__slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

.merits {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232324; }
  .merits__title {
    font-family: bariol_regular;
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.16em;
    padding-top: 44px; }
  .merits__sub-title {
    font-family: bariol_regular;
    color: #d94948;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.06em;
    padding-top: 20px; }
  .merits__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding-top: 39px;
    padding-bottom: 24px; }

.merit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .merit__name {
    font-family: bariol_regular;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding-top: 20px; }
  .merit__text {
    font-family: bariol_regular;
    color: #e74c3c;
    font-size: 18px;
    text-align: center;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-align: center;
    padding-top: 10px;
    width: 70%; }

.team {
  background-color: #6cc372;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .team__title {
    font-family: bariol_regular;
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.16em;
    padding-top: 44px; }
  .team__sub-title {
    font-family: bariol_regular;
    color: #232324;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.06em;
    padding-top: 20px; }
  .team__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 39px;
    padding-bottom: 24px; }

.person {
  background-color: #fff;
  margin-right: 17px;
  padding-top: 25px;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .person__photo {
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50%;
    border: solid 10px #6cc372; }
    .person__photo img {
      margin-left: -1px;
      width: 164px;
      height: 164px; }
  .person__name {
    font-family: bariol_regular;
    color: #61af66;
    font-size: 25px;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.01em;
    padding-top: 22px; }
  .person__status {
    font-family: bariol_regular;
    color: #e74c3c;
    font-size: 18px;
    text-align: center;
    line-height: 21px;
    letter-spacing: 0.04em;
    padding-top: 15px;
    font-weight: bold; }
  .person__button {
    margin: 22px 12px 12px 12px;
    outline: none;
    border: none;
    padding: 9px 64px 8px 62px;
    font-size: 25px;
    letter-spacing: 0.1em;
    background: #6cc372 url("../img/twitter-icon.png") no-repeat 12px;
    cursor: pointer; }
    .person__button a {
      color: #fff;
      text-decoration: none; }

.portfolio {
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .portfolio__title {
    font-family: bariol_regular;
    color: #616161;
    font-size: 40px;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.16em;
    padding-top: 44px; }
  .portfolio__sub-title {
    font-family: bariol_regular;
    color: #61af66;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.06em;
    padding-top: 20px; }

@media screen and (max-width: 765px) {
  .wrapper {
    padding: 0; }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .header__logo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%; }
  .menu {
    width: 100%;
    display: none; }
    .menu__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .menu__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      margin-right: 0px; }
      .menu__item a {
        text-align: center;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        -webkit-align-content: center;
            -ms-flex-line-pack: center;
                align-content: center; }
  .hamburger-button {
    display: block;
    width: 40px;
    height: 35px;
    position: relative;
    cursor: pointer; }
    .hamburger-button span {
      display: block;
      position: absolute;
      height: 6px;
      width: 100%;
      background: #fff;
      border-radius: 20px; }
    .hamburger-button__first-line {
      top: 0px; }
    .hamburger-button__middle-line {
      top: 13px; }
    .hamburger-button__last-line {
      top: 26px; }
  .banner__title {
    padding: 10px 0; }
  .title {
    font-size: 40px; }
  .merits__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .merit {
    margin-bottom: 25px; }
    .merit__name {
      padding-top: 10px; } }
