@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-extrabold/Gilroy-Extrabold.woff2") format("woff2");
  src: url("../fonts/gilroy-extrabold/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-regular/Gilroy-Regular.woff2") format("woff2");
  src: url("../fonts/gilroy-regular/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-light/Gilroy-Light.woff2") format("woff2");
  src: url("../fonts/gilroy-light/Gilroy-Light.woff") format("woff");
  font-weight: light;
  font-style: normal; }

body {
  background-color: #fff;
  font-family: 'Gilroy';
  margin: 0 auto; }

.wrapper {
  padding: 84px 4.84%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.cases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: opacity .75s ease;
  transition: opacity .75s ease; }
  .cases > .case:first-child > .case__head {
    margin: 0px 6% 0 17%; }

.case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 27px;
  width: calc(33% - 32px);
  color: #fff;
  -webkit-transition: opacity .75s ease;
  transition: opacity .75s ease;
  opacity: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px; }
  .case:hover {
    opacity: 0.9; }
  .case--theme-randevoo {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 105, 0.85))), url("../img/randevoo.png") no-repeat center center;
    background: linear-gradient(rgba(15, 15, 105, 0.85)), url("../img/randevoo.png") no-repeat center center;
    background-size: cover; }
  .case--theme-car {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 105, 0.85))), url("../img/car.png") no-repeat center center;
    background: linear-gradient(rgba(15, 15, 105, 0.85)), url("../img/car.png") no-repeat center center;
    background-size: cover; }
  .case--theme-36_6 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 105, 0.85))), url("../img/36_6.png") no-repeat center center;
    background: linear-gradient(rgba(15, 15, 105, 0.85)), url("../img/36_6.png") no-repeat center center;
    background-size: cover; }
  .case--theme-DKC {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 105, 0.85))), url("../img/DKC.png") no-repeat center center;
    background: linear-gradient(rgba(15, 15, 105, 0.85)), url("../img/DKC.png") no-repeat center center;
    background-size: cover; }
  .case--theme-rostelekom {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 105, 0.85))), url("../img/rostelekom.png") no-repeat center center;
    background: linear-gradient(rgba(15, 15, 105, 0.85)), url("../img/rostelekom.png") no-repeat center center;
    background-size: cover; }
  .case--theme-bank {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 105, 0.85))), url("../img/bank.png") no-repeat center center;
    background: linear-gradient(rgba(15, 15, 105, 0.85)), url("../img/bank.png") no-repeat center center;
    background-size: cover; }
  .case__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 3% 0px 6%;
    min-height: 137px; }
  .case__logo-img {
    height: 52px; }
  .case__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 62px;
    margin-bottom: 32px;
    position: relative;
    top: -10px; }
  .case__status {
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    min-height: 146px; }
  .case__middle {
    margin: 0 6% 0 17%;
    min-height: 215px; }
  .case__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 6% 0 17%; }
  .case__description {
    font-size: 18px;
    line-height: 21px;
    font-weight: 300; }
    .case__description-quotes {
      position: relative;
      left: -40px;
      top: -10px;
      height: 0; }
  .case__comment {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 27px;
    min-height: 59px; }
  .case__person {
    font-weight: 800; }
  .case__person-status {
    font-weight: light; }
  .case__details {
    width: 50%;
    height: 40px;
    margin-top: auto;
    margin-bottom: 43px; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0F0F69;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  border-radius: 4px;
  background: #fff;
  text-decoration: none; }

@media screen and (max-width: 1512px) {
  .case {
    width: calc(50% - 32px); } }

@media screen and (max-width: 900px) {
  .wrapper {
    padding: 64px 2%; }
  .cases {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .case {
    width: calc(100% - 30px);
    max-width: 100%; }
    .case__details {
      width: 70%; } }

@media screen and (max-width: 340px) {
  .wrapper {
    padding: 32px 0; }
  .case {
    width: 100%;
    margin: 10px 0; }
    .case__head {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 10px; }
    .case__title {
      margin-bottom: 0; }
    .case__status {
      min-height: auto;
      margin-bottom: 15px; }
    .case__description-quotes {
      left: -30px; } }
